@import "../../node_modules/material-design-lite/dist/material.orange-blue.min.css";
@import "../../node_modules/dialog-polyfill/dialog-polyfill.css";

$primary    =  #ff9f00;
$accent     = rgb(68,138,255);
$c-grey-700 = #616161;

panel-shadow() {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

@import "./select2";
@import "./date-picker";

// fix left column not expanding to bottom when content > viewport
.mdl-layout {
  height: auto;
  min-height: 100%;
}

////////
// TABLE CARDS + PAGINATION + FILTER
////////

.bs-table {
  background: white;
  margin-bottom: 56px;

  .mdl-data-table {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  th a {
    color: currentColor;
    font-weight: inherit;
    text-decoration: none;

    .material-icons {
      vertical-align: middle;
    }
  }

  &__header,
  &__header *,
  &__footer,
  &__footer *,
  &__filter,
  &__filter * {
    box-sizing: border-box;
  }
  &__header,
  &__footer {
    padding: 0 14px 0 24px;
    display: flex;
    align-items: center;
  }

  &__header {
    height: 64px;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1.2em;
  }

  &__filter {
    background: #FBFBFB;
    visibility: hidden;
    height: 0;

    &.is-visible {
      visibility: visible;
      height: auto;
    }
  }

  &__footer {
    height: 56px;
    justify-content: flex-end;
    font-size: 14px;
    color: rgba(black, .54)
  }
}

.bs-table-filter__row {
  display: flex;
  align-items: center;

  > div {
    width: 'calc(%s - 48px)' % ( unit(100/3, '%') )
    margin: 0 24px;
  }
}

// contain date pickers
.bs-table-filter-row__dual-field {
  display: flex;
  align-items: center;

  > div {
    width: calc(50% - 12px);
    &:first-child { margin-right: 12px; }
    &:last-child {  margin-left:  12px; }
  }
  // only date pickers have icons
  i.material-icons {
    position: absolute;
    right: 0;
    bottom: 24px;
    pointer-events: none;
    opacity: .5;
  }
}

.bs-table-filter-row__action {
  text-align: right;
}

.bs-table-header {
  &__title {
    font-size: 20px;
    color: rgba(black, .87);
    margin: 0;
    font-weight: bold;
    flex: 0 0 auto;
  }
  &__summary {
    margin: 0;
    padding: 0 24px;
    flex: 1 1 auto;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;

    dt,
    dd {
      display: inline;
      padding: 0;
      margin: 0;
    }
    dt {
      padding-left: 12px;
      font-weight: normal;
      color: #999999;

      + dt {
        padding-left: 0;
        &::before { content: ' '}
      }
    }
    dd {
      padding-left: 6px;
    }
  }
  &__filter {
    color: currentColor;
    cursor: pointer;
    flex: 0 0 auto;
    &:hover {
      color: $accent;
    }

    ~ .bs-table-header__filter {
      margin-left: 1em;
    }
  }

}

.bs-table-footer {

  &__limit {
    width: 40px;
    text-align: right;
    margin-right: 24px;
  }

  &__position {
    margin: 0 8px;
  }

  &__nav {
    width: 24px;
    margin-left: @width;
    color: currentColor;
    // align icon
    line-height: 0;
    span& {
      opacity: .5;
    }
  }
}

////////
// HOME
////////

.wireframe-card {
  text-decoration: none;
  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0 0 0 3px rgb(68,138,255);
  }

  .mdl-card__title {
    justify-content: center;
  }
  .mdl-card__supporting-text {
    text-align: center;
  }
  .mdl-card__media {
    height: 250px;
    overflow-y: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.home-subtitle {
  text-align: center;
}

// user menu underline
.customer-home .navigation--creations,
.customer-wireframe .navigation--wireframes  {
  box-shadow: inset 0 -3px 0 0 $accent;
}

////////
// SECTIONS
////////

.content {
  padding-top: 10px;
  padding-bottom: 2em;
  flex: 1 0 auto;

  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }
}

.description {
  padding-bottom: 5px;
}

.footer {
  background-color: #2D2E2F;
  color: #777777;
  padding: 1em;
}

.home-badsender-footer {
  text-align: center;
}

////////
// MATERIAL OVERRIDES
////////

.page-content {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 2em;
}
.full-width-layout .page-content,
.wireframe-new-edit .page-content {
  max-width: none;
  padding-top: 0;
}
.full-width-layout .page-content > .mdl-grid,
.wireframe-new-edit .page-content > .mdl-grid {
  min-height: calc(100vh - 64px)
}
.mdl-data-table {
  width: 100%;
}
.mdl-textfield {
  width: auto;
}
.mdl-button--fab {
  position: fixed;
  bottom: .5em;
  right: .5em;
  z-index: 10;
}

.mdl-card .mdl-data-table {
  border-left: 0;
  border-right: 0;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content .mdl-card {
  width: 400px;
}
.mdl-textfield {
  display: block;
}
select.mdl-textfield__input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  // border-radius: 0;
}
.mdl-textfield__label--fixed {
  color: rgb(255,152,0);
  font-size: 12px;
  top: 4px;
  visibility: visible;
}
.mdl-card {
  min-height: 0;
}
details {
  pre {
    font-size: 11px;
    overflow-x: auto;
  }

  ul,
  ol {
    columns: 300px 2;
    list-style: none;
    counter-reset: nombre;
  }
  li {
    counter-increment: nombre;
    &::before {
      content: counter(nombre) ' -';
      color: #ccc;
      width: 2em;
      display: inline-block;
      text-align: right;
      padding-right: .5em;
    }
  }
}
.lang {
  position: absolute;
  top: .25em;
  right: .5em;
}
.lang a {
  color: #000;
  text-decoration: none;
}
.message {
  margin: 0;
}
.message.error {
  color: #d50000;
}
.message dd {
  margin: 0;
}
.message dt {
  margin: 0;
}

.mdl-layout__content.mdl-grid {
  width: 100%;
}

.mdl-dialog {
  width: 75%;
  max-width: 400px;
}
.mdl-dialog__title {
  font-size: 2rem;
}
.mdl-data-table__cell--action.mdl-data-table__cell--action {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

.material-icons.is-invalid {
  color: #d50000;
}
